doctype html  
html(lang="es" xmlns="http://www.w3.org/1999/xhtml")
 head
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title DESTINO NUMERICO 

 body
  table(class="main" align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;")
    include header.pug    
    |!{content}
    include footer.pug
